/* sco.tooltip71452.js */
.tooltip71452 {
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei";
	padding: .6em;
	width: auto;;
	z-index: 10001;
	position: absolute;
	background: #fff;
	color: black;
	font-size: 90%;
	display: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 1;
	filter: alpha(opacity=100);
}

.tooltip71452 .pointer {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	color: white;
}

.tooltip71452.pos_e .pointer {
	border-right: 8px solid #444;
	border-top: 8px dashed transparent;
	border-bottom: 8px dashed transparent;
	left: -8px;
	top: 50%;
	margin-top: -8px;
}

.tooltip71452.pos_w .pointer {
	border-left: 8px solid #444;
	border-top: 8px dashed transparent;
	border-bottom: 8px dashed transparent;
	right: -8px;
	top: 50%;
	margin-top: -8px;
}

.tooltip71452.pos_n .pointer {
	border-top: 8px solid #444;
	border-left: 8px dashed transparent;
	border-right: 8px dashed transparent;
	left: 50%;
	margin-left: -8px;
	bottom: -8px;
}

.tooltip71452.pos_s .pointer {
	border-bottom: 8px solid #444;
	border-left: 8px dashed transparent;
	border-right: 8px dashed transparent;
	left: 50%;
	margin-left: -8px;
	top: -8px;
}

.tooltip71452.pos_nw .pointer {
	border-top: 14px solid #444;
	border-left: 14px dashed transparent;
	border-right: 0px dashed transparent;
	left: 100%;
	margin-left: -20px;
	bottom: -13px;
}

.tooltip71452.pos_sw .pointer {
	border-bottom: 14px solid #444;
	border-left: 14px dashed transparent;
	border-right: 0px dashed transparent;
	left: 100%;
	margin-left: -20px;
	top: -13px;
}

.tooltip71452.pos_se .pointer {
	border-bottom: 14px solid #444;
	border-right: 14px dashed transparent;
	border-left: 0px dashed transparent;
	left: 8px;
	top: -13px;
}

.tooltip71452.pos_ne .pointer {
	border-top: 14px solid #444;
	border-right: 14px dashed transparent;
	border-left: 0px dashed transparent;
	left: 8px;
	bottom: -13px;
}



